{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome</h1>
      <p>Welcome to the New Blog System . Here we'll be talking everything about computer science , other data science stuff ,any
      new tech findings, and pretty much anything computer scinece stuff.</p>
      <p>Go visitat our website  <a href="https://www.newblogsystem.com">newblogsystem.com</a> to check out more cool stuff </p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button">Go to Posts&raquo;</a>
      </p>
    </div>
  </div>
</div>
</div>
{% endblock %}